<img style="width:100%;height:300px;z-index:-1;" src="../../../assets/images/workings.png">

<div>
  <div style="text-align:center;font-size:42px;color:black;text-shadow: 2px 2px white;opacity:1;">
      <h1 style="z-index:1;margin-top:-15%;font-size: 2em;">Contáctanos</h1>
  </div>
</div>
<div style="width:80%;margin:10%;">
  <h5><strong>Cel:</strong> 55 2729 7574</h5>
  <h5><strong>Correo: </strong>ventas@alcantaryco.com</h5>
  <h5><strong>Direccion:</strong> <br><br>
      Calle Jilguero Mz.5  Lt.26 <br>
      Col. Nuevo Valle de Aragón <br>
      Ecatepec de Morelos, Edo. de México   55280</h5>
</div>

<div style="margin-top:-23%; width:70%; margin-left:33%;text-align:center; color:black;">
    <h3>Alguna pregunta para nosotros?</h3>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Información de precios, pedidos o cualquier duda.</label>
      <textarea style="width:60%;margin-left:20%;opacity:0.5;" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <button mz-button>Enviar</button>
    </div>
  </div>