<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div style="text-align:center;margin-top:5%;">
    <img src="../../../assets/images/Esencia Logo.png" style="width:30%">
  </div>
  <div class="container ct3">
      <div class="row">
        <div class="col-sm">
          <img src="../../../assets/images/Pack Jamón.jpg">
        </div>
        <div class="col-sm">
            <img src="../../../assets/images/Esencia 1932.jpg">
        </div>
        <div class="col-sm">
            <img src="../../../assets/images/Jamon Ibérico Bellota c_mano.jpg">
        </div>
      </div>
    </div>
  <div class="container ct2">
    <div class="row">
      <div class="col-sm">
       <img src="../../../assets/images/Fincas 1 (24)-001.jpg">
      </div>
      <div class="col-sm">
        <img src="../../../assets/images/Curadero.jpg">
      </div>
      <div class="col-sm">
        <img src="../../../assets/images/Matadero.jpg">
      </div>
    </div>
  </div>
  <div style="height:100px;"></div>
 
</body>
</html>
