<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div style="text-align:center;">
      <img style="margin-top:2%;width:30%;" src="../../../assets/images/almalogo.png">

  </div>
  <div style="width:80%;position:absolute;left:10%;height:250px;background-color:none;">
    <div style="margin-top:3%;" class="container">
      <div class="row">
        <div class="col-sm">
          <div style="text-align:center;">
            <img style="width:120px;" src="../../../assets/images/Arbequina.png" alt="wine image">
            <h3 style="color:black;">Arbequina</h3>
          </div>
        </div>
        <div class="col-sm">
            <div style="text-align:center;">
                <img style="width:180px;" src="../../../assets/images/Cornicabra.png" alt="wine image">
                <h3 style="color:black;">Cornicabra</h3>
            </div>
        </div>
        <div class="col-sm">
            <div style="text-align:center;">
                <img style="width:130px;" src="../../../assets/images/Hojiblanca.png" alt="wine image">
                <h3 style="margin-top:8px;color:black;">Hojiblanca</h3>
            </div>
        </div>
        <div class="col-sm">
          <div style="text-align:center;">
              <img style="width:150px;" src="../../../assets/images/Picual.png" alt="wine image">
              <h3 style="color:black;">Picual</h3>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div>
    <img style="width:100%;margin-top:25%;" src="../../../assets/images/100Eco.png">
  </div>
</body>
</html>