<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  <title>Document</title>
</head>
<body>

<!--The content below is only a placeholder and can be replaced.-->
<nav style="background-color:none;">
  <!-- apply position fixed if necessary -->
  <mz-navbar>
      <div class="nav-wrapper color">
       <a href="#" class="brand-logo"><img style="width:40%;margin-top:10px;margin-left:20px;border-radius:5%;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);"src="../assets/images/Screen Shot 2019-01-04 at 11.00.50.png"></a>
        <mz-navbar-item-container [align]="'right'">
          <mz-navbar-item><a routerLink="vinos">Vinos</a></mz-navbar-item>
          <mz-navbar-item><a routerLink="aceites">Aceites</a></mz-navbar-item>
          <mz-navbar-item><a routerLink="jamones">Jamones</a></mz-navbar-item>
          <mz-navbar-item><a routerLink="contacto">Contacto</a></mz-navbar-item>
          <i class="fas fa-bars"></i>
         
        </mz-navbar-item-container>
        
      </div>
  </mz-navbar>
</nav>
<footer class="footer">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacto">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Términos y Condiciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style="position:absolute;right:0%;">© 2019 Alcantar y Compañía S.A. de C.V.</a>
      </li>
    </ul>
  </div>
</footer>

  
<router-outlet></router-outlet>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  
</body>
</html>



