/* queda por verse el color todavía */
body {
  font-family: 'Raleway', sans-serif;
  height:100vh;
}

.footer {
  position:fixed;
  width:100%;
  height:50px;
  background-color:white;
  opacity:0.9;
  position:fixed;
  bottom:0%;
  overflow:hidden;
  z-index:1;
  border-top:2px solid black;
}
mz-navbar-item-container a {
  color:white;
  font-size:1.3em;
  
}

.color {
background-color:transparent;
}

.fas {
  margin-right:10px;
}

@media (min-width: 600px) {
 
  mz-navbar-item-container i{
    display:none;
  }
 
}

@media (max-width: 600px) {
  .color {
    background-color: black;
    
  }
  mz-navbar-item-container a {
    display:none;
    
  }
 
}