/* queda por verse el color todavía */
body {
  font-family: 'Raleway', sans-serif;

}

mz-navbar-item-container a {
  color:white;
  font-size:1.3em;
  
}

.color {
background-color:transparent;
}

.fas {
  margin-right:10px;
}

@media (min-width: 600px) {
 
  mz-navbar-item-container i{
    display:none;
  }
 
}

@media (max-width: 600px) {
  .color {
    background-color: black;
    
  }
  mz-navbar-item-container a {
    display:none;
    
  }
 
}